.sidebar__parent {
    padding: 0;
}
.sidebar {
    padding: 1em 2em;
    &__main {
        b {
            font-size: 14px !important;
        }
    }
    :not(&__main) {
        a {
            font-size: 16px;
            display: inline-flex;
            margin: 0.6em 0;
            
            svg {
                width: 1em;
                margin-right: 1em;
                fill: #454;
            }
        }
    }
}