@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,400;1,600&display=swap");
* {
  font-family: "Source Sans Pro", sans-serif !important;
  font-size: 16px;
}

/* unvisited link */
a {
  /* visited link */
  /* mouse over link */
}
a:link {
  color: #449406;
}
a:visited {
  color: #1e6900;
}
a:hover {
  color: #7edf00;
}

.sidebar__parent {
  padding: 0;
}

.sidebar {
  padding: 1em 2em;
}
:not(.sidebar__main) a {
  font-size: 20px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  margin-bottom: 0.4em;
}
:not(.sidebar__main) a svg {
  width: 0.8em;
  margin-right: 1em;
  fill: #454;
}

body table:nth-child(4) tbody tr td table {
  padding: 1em;
}
body table:nth-child(5) {
  background: red;
}